USE [WatchList]
GO
/****** Object:  Table [dbo].[DateType]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateType] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DowJonesIdentity]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowJonesIdentity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dowJonesId] [nvarchar](10) NULL,
	[indOrgTypeId] [int] NULL,
	[idNo] [nvarchar](40) NULL,
	[idTypeId] [int] NULL,
	[dowJonesDesc1] [nvarchar](4) NULL,
	[dob] [datetime] NULL,
	[dobTypeId] [int] NULL,
	[gender] [char](1) NULL,
	[hasSanction] [bit] NULL,
	[hasOccupation] [bit] NULL,
	[hasRelationship] [bit] NULL,
	[hasOtherList] [bit] NULL,
	[isActive] [bit] NULL,
	[citizenship] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DowJonesIdentityName]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowJonesIdentityName](
	[identityId] [int] NULL,
	[name] [nvarchar](40) NULL,
	[nameTypeId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdentityType]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdentityType] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdNoType]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdNoType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idType] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameType]    Script Date: 23/02/2022 19:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameType] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DateType] ON 

INSERT [dbo].[DateType] ([id], [dateType]) VALUES (1, N'DOB')
INSERT [dbo].[DateType] ([id], [dateType]) VALUES (2, N'DOR')
SET IDENTITY_INSERT [dbo].[DateType] OFF
GO
SET IDENTITY_INSERT [dbo].[DowJonesIdentity] ON 

INSERT [dbo].[DowJonesIdentity] ([id], [dowJonesId], [indOrgTypeId], [idNo], [idTypeId], [dowJonesDesc1], [dob], [dobTypeId], [gender], [hasSanction], [hasOccupation], [hasRelationship], [hasOtherList], [isActive], [citizenship]) VALUES (1, N'0000044938', 1, N'', 0, N'PEP', CAST(N'2021-09-27T00:00:00.000' AS DateTime), 2, N'M', 0, 1, 1, 0, 0, N'CM')
INSERT [dbo].[DowJonesIdentity] ([id], [dowJonesId], [indOrgTypeId], [idNo], [idTypeId], [dowJonesDesc1], [dob], [dobTypeId], [gender], [hasSanction], [hasOccupation], [hasRelationship], [hasOtherList], [isActive], [citizenship]) VALUES (2, N'0000169141', 1, N'', 0, N'PEP', CAST(N'2021-09-29T00:00:00.000' AS DateTime), 2, N'M', 0, 1, 1, 0, 0, N'LV')
INSERT [dbo].[DowJonesIdentity] ([id], [dowJonesId], [indOrgTypeId], [idNo], [idTypeId], [dowJonesDesc1], [dob], [dobTypeId], [gender], [hasSanction], [hasOccupation], [hasRelationship], [hasOtherList], [isActive], [citizenship]) VALUES (3, N'0000432005', 1, N'01496337A', 2, N'PEP', CAST(N'2021-09-28T00:00:00.000' AS DateTime), 2, N'M', 0, 1, 1, 0, 0, N'ES')
SET IDENTITY_INSERT [dbo].[DowJonesIdentity] OFF
GO
INSERT [dbo].[DowJonesIdentityName] ([identityId], [name], [nameTypeId]) VALUES (1, N'MBOMBO NJOYA IBRAHIM', 1)
INSERT [dbo].[DowJonesIdentityName] ([identityId], [name], [nameTypeId]) VALUES (1, N'NJOYA IBRAHIM MBOMBO', 3)
INSERT [dbo].[DowJonesIdentityName] ([identityId], [name], [nameTypeId]) VALUES (1, N'NJOYA MBOMBO IBRAHIM', 3)
GO
SET IDENTITY_INSERT [dbo].[IdentityType] ON 

INSERT [dbo].[IdentityType] ([id], [IdentityType]) VALUES (1, N'INDIVIDUAL')
INSERT [dbo].[IdentityType] ([id], [IdentityType]) VALUES (2, N'ORGANIZATION')
SET IDENTITY_INSERT [dbo].[IdentityType] OFF
GO
SET IDENTITY_INSERT [dbo].[IdNoType] ON 

INSERT [dbo].[IdNoType] ([id], [idType]) VALUES (1, N'NATIONAL ID')
INSERT [dbo].[IdNoType] ([id], [idType]) VALUES (2, N'NATIONAL TAX NO.')
SET IDENTITY_INSERT [dbo].[IdNoType] OFF
GO
SET IDENTITY_INSERT [dbo].[NameType] ON 

INSERT [dbo].[NameType] ([id], [nameType]) VALUES (1, N'PRIMARY')
INSERT [dbo].[NameType] ([id], [nameType]) VALUES (2, N'SPELLING')
INSERT [dbo].[NameType] ([id], [nameType]) VALUES (3, N'AKA')
SET IDENTITY_INSERT [dbo].[NameType] OFF
GO
